<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <!-- AzureCloud -->
    <add key="AadAuthorityUrl" value="https://login.microsoftonline.com"/>

    <!-- GermanCloud -->
    <!--<add key="AadAuthorityUrl" value="https://login.microsoftonline.de"/>-->

  </appSettings>

</configuration>